{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block body %}
    <h1>Жанр: {{ genre.name }}</h1>

    <div class="d-flex gap-2 mb-3">
        <a href="{{ path('admin_user_index') }}" class="btn btn-outline-secondary">Назад к списку</a>
        <a href="{{ path('admin_game_index', {genre: genre.id}) }}" class="btn btn-outline-success">Смотреть игры</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ genre.name }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ genre.description }}</td>
            </tr>
            <tr>
                <th>Добавлен</th>
                <td>{{ genre.createdAt ? genre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Изменен</th>
                <td>{{ genre.updatedAt ? genre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
