{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ shop.image }}{% endblock %}

{% block body %}
    <h1>Информация о торговой площадке</h1>

    <div class="d-flex align-items-center mb-4 gap-4 flex-wrap">
        <div class="d-flex flex-column flex-md-row gap-2">
            <a href="{{ path('admin_shop_index') }}" class="btn btn-outline-secondary">
                Назад к списку
            </a>
            <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}" class="btn btn-outline-primary">
                Редактировать
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin/shop/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>

    <div class="d-flex align-items-center mb-4 gap-4 flex-wrap">
        {% if shop.image %}
            <img src="/uploads/shops/{{ shop.image }}" alt="Логотип" class="img-thumbnail" style="max-height: 260px;">
        {% else %}
            <div class="bg-light d-flex align-items-center justify-content-center img-thumbnail" style="width: 160px; height: 160px;">
                <span class="text-muted">Нет логотипа</span>
            </div>
        {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ shop.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ shop.name }}</td>
            </tr>
            <tr>
                <th>Ссылка</th>
                <td>{{ shop.url }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ shop.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
